<aside class="sidebar" id="mainSidebar">
    <div class="sidebar-header-mobile">
        <h3>Menu</h3>
        <button class="icon-btn" id="closeSidebarBtn"><i class="fa-solid fa-times"></i></button>
    </div>

    <div class="sidebar-menu">
        <a href="/dashboard" class="menu-item">
            <i class="fa-solid fa-hard-drive"></i> My Files
        </a>
        <a href="/dashboard?filter=shared" class="menu-item">
            <i class="fa-solid fa-users"></i> Shared with me
        </a>
        <a href="/dashboard?filter=starred" class="menu-item">
            <i class="fa-solid fa-star"></i> Starred
        </a>
        <a href="/dashboard/teams" class="menu-item">
            <i class="fa-solid fa-people-group"></i> Teams
        </a>
        <a href="/dashboard?filter=trash" class="menu-item">
            <i class="fa-solid fa-trash-can"></i> Trash
        </a>
        
        <div class="separator"></div>
        <p class="menu-header">Types</p>
        <a href="/dashboard?type=image" class="menu-item">
            <i class="fa-solid fa-image"></i> Images
        </a>
        <a href="/dashboard?type=video" class="menu-item">
            <i class="fa-solid fa-video"></i> Videos
        </a>
        <a href="/dashboard?type=doc" class="menu-item">
            <i class="fa-solid fa-file-lines"></i> Documents
        </a>

        <div class="separator"></div>
        <a href="/profile" class="menu-item active">
            <i class="fa-solid fa-user-cog"></i> Settings
        </a>
    </div>
    
    <div class="storage-info">
        <div class="progress-bar"><div class="fill" style="width: 50%"></div></div>
        <small>Storage Usage (Demo)</small>
    </div>
</aside>